<div class="row marketing">
  <div class="col-lg-6">
    <h4>What are Kanji?</h4>
    <p>Kanji are Japanese characters.</p>

    <h4>Lots of Kanji</h4>
    <p>There are well over 6,000 of these characters that are in use today. To ease the burden of tackling 6,000 characters, the Japanese government provides a list of the most frequently used kanji out of those ~6,000. In 2010, there were 2,136 kanji on this list.</p>

    <h4>Big obstacle for anyone studying Japanese</h4>
    <p>Kanji is a big obstacle for people who are trying to learn Japanese.  While this is much less intimidating than 6,000, learning 2,136 characters is still a massive undertaking.</p>

    <h4>Trenja's Role</h4>
    <p>Trenja attempts to help people who are trying to learn kanji by using data mining strategies to determine which kanji are being used the most by real Japanese people in real time. Knowing this information can help kanji learners by showing them which kanji, out of the ~6,000 that are out there, they should study first.</p>

    <h4>Learning Strategy</h4>
    <p>The underlying assumption is that one should study the kanji that are used most often by real live Japanese people because those are the kanji one will see the most often.</p>
  </div>
</div>
