<div class="row marketing">
  <div class="col-lg-6">
    <h2>API Documentation</h2>

    <h3>GET Trending Kanji</h3>
    <h4>Endpoint</h4>
    <p>api/v1/kanji.json</p>
    <h4>HTTP Verb</h4>
    <p>GET</p>
    <h4>Description</h4>
    <p>Returns top 10 trending kanji.</p>

  </div>
</div>
