<a href="https://github.com/conorliv/trenja"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Trenja: <i>Trending Kanji</i></h3>
            <p>This project aims to provide a quick insight into which kanji are most commonly used by real Japanese people in real time.</p>
            <p>Kanji is a big obstacle for people who are trying to learn Japanese. There are well over 6,000 of these characters that are in use today.
            To ease the burden of tackling 6,000 characters, the Japanese government provides a list of the most frequently used kanji out of those ~6,000.
            In 2010, there were 2,136 kanji on this list. While this is much less intimidating than 6,000, learning 2,136 characters is still a massive undertaking.
            Trenja attempts to help people who are trying to learn kanji by using data mining strategies to determine which kanji are being used the most by real Japanese people in real time.
            Knowing this information can help kanji learners by showing them which kanji, out of the ~6,000 that are out there, they should study first.</p>
            <p>The underlying assumption is that one should study the kanji that are used most often by real live Japanese people because those are the kanji one will see the most often.</p>

            <a href="/kanji" class="btn btn-primary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Dive in</span></a>
        </div>
    </div>
</section>
