<div class="jumbotron">
  <h1><%= t('home.header') %></h1>
  <p class="lead"><%= t('home.summary') %></p>
  <p><a class="btn btn-lg btn-success" href="/kanji" role="button"><%= t('home.view_button') %></a></p>
</div>

