<h1> Trenja :トレンジャ: Trending Kanji on the Web </h1>

<table>
  <% @kanji.each do |kanji| %>
    <tr>
      <td><%= kanji.kanji %></td>
      <td><%= kanji.count %></td>
    </tr>
  <% end %>
</table>
